body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.navbar-dark-mode {
    background-color: #1c1c1c !important;
}

.navbar-light .navbar-nav .nav-link.dark-mode,
.navbar-light .navbar-brand.dark-mode {
    color: #ffffff !important;
}

.card.dark-mode {
    background-color: #1e1e1e;
    border-color: #2c2c2c;
}

.card-title.dark-mode, .card-text.dark-mode {
    color: #ffffff;
}

.btn-dark-mode {
    background-color: #444444;
    color: #ffffff;
}

.btn-dark-mode:hover {
    background-color: #555555;
}
