{% extends "main/base.html" %}
{% block title %}Share Video{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Share Video</h1>

    <div class="card mb-4">
        <video class="card-img-top" controls>
            <source src="{{ video.file.url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="card-body">
            <h5 class="card-title">{{ video.exercise_name }}</h5>
            <p class="card-text">{{ video.analysis }}</p>
            <form method="post" class="form-inline">
                {% csrf_token %}
                {{ share_form|crispy }}
                <button type="submit" class="btn btn-primary btn-sm">Share</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
